{% extends ":layouts:email.html.twig" %}

{% block content %}
<h1>Bonjour</h1>
<p>Vous avez effectué une demande sur Bdloc.com pour réinitialiser votre mot de passe.</p>
<p>Veuillez cliquer sur le lien ci-dessous pour créer un nouveau mot de passe :</p>
<a href="{{ links }}" title="Régénérer votre mot de passe">{{ links }}</a>
<p>Veuillez ne pas tenir compte de cet email si la requête n'émane pas de votre part.</p>
<p>Merci.</p>
{% endblock %}