{% extends ':layouts:base.html.twig' %}

{% block title %}Bdloc | Accueil{% endblock %}

{% block main_content %}
    <!-- { { render(controller('BdlocAppBundle:CronJob:checkCartTiming')) }} -->
    <h1 class="center">La plateforme de location multi bandes dessinées</h1>
    <div id="fond"></div>
    <div id="presentation">
        <p>Accédez à une <span class="big">multitude de BDs</span> en quelques clics !</p>
        <p>BDloc vous permet de récupérer vos BDs préférées pour 2 semaines dans un point relais de votre choix (Paris pour l'instant).</p>
        <p><span class="offre">Offre inédite :</span> abonnement mensuel de 12€ ou annuel de 120€ pour une lecture illimitée.</p>
        <a href="{{ path('bdloc_app_user_register') }}" id="abo"><img src="{{ asset("img/appearances/abo1.png") }}" alt="s'abonner"/></a>
    </div>
    <div id="sitetest" class="center">
        <h2 class="underline">Site fictif de mise en application de Symfony2...</h2>
        <p><strong>Technos utilisées :</strong> Symfony2, HTML5, CSS3, Jquery, AJAX, PHP, MySQL, GitHub</p>
        <br />
        <p>Réalisation en 2 semaines - 1 personne</p>
        <p>Utilisation de <strong>CB de test</strong> pour naviguer sur le site !</p>
        <p>Un CronJob est prévu pour vérifier les durées des paniers en cours (au bout de 30min d'inactivité, le panier se vide automatiquement), mais ne tourne pas sur ce site démonstratif.</p>
    </div>
{% endblock %}