parameters:
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: null
    database_name: bdloc_prod
    database_user: root
    database_password: null
    mailer_transport: smtp
    mailer_host: smtp.mandrillapp.com
    mailer_port: 587
    mailer_user: mandrillformation@gmail.com
    mailer_password: b_qSvk4PBN3LTrNsNUw1tQ
    locale: fr
    secret: fjdsf323093R32a09ewIJrqrjqr9bczcvEjfdgpfqewr543534Fw
    debug_toolbar: true
    debug_redirects: false
    use_assetic_controller: true
    prixAboM: 12.00
    prixAboA: 120.00
