{% extends ":layouts:account.html.twig" %}
{% block title %}Compte | Mote de passe | BDLOC{% endblock %}

{% block main_content %}
    <h1>Modifier mon mot de passe</h1>
    {{ form(editPasswordForm, {'attr': {'novalidate': 'novalidate'}}) }}
{% endblock %}