{% extends ":layouts:account.html.twig" %}
{% block title %}Compte | Infos | BDLOC{% endblock %}

{% block main_content %}
    <h1>Modifier mes informations personnelles</h1>
    {{ form(editInfoForm, {'attr': {'novalidate': 'novalidate'}}) }}
{% endblock %}
