{% extends ":layouts:account.html.twig" %}

{% block title %}Compte | BDLOC{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset("css/account.css") }}">
{% endblock %}

{% block main_content %}
    <h1>Me désabonner</h1>
    <p class="decale">Afin d'optimiser nos services, merci d'indique les raisons de votre départ...</p>
    {{ form(byeForm, {'attr': {'novalidate': 'novalidate'}}) }}
{% endblock %}