{% extends ":layouts:base.html.twig" %}

{% block title %}Mot de passe oublié | BDLOC{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/form.css') }}" rel="stylesheet" />
{% endblock %}

{% block main_content %}
    <h1 class="formTitle">Régénération de mot de passe</h1>
    {{ form(forgotPasswordStepOneForm, {'attr': {'novalidate': 'novalidate'}}) }}
{% endblock %}