
#menuCompte {
    float: right;
    margin-bottom: 5px;
}

#menuCompte a {
    background: #272928;
    border-bottom: 1px solid #dfdee4;
    border-left: 10px solid #dfdee4;
    color: #fff;
    display: block;
    font-size: 1.2em;
    /*font-weight: 700;*/
    padding: 10px;
    text-align: center;
}

#menuCompte a .txt {
    display: inline-block;
    font-family: 'Advent Pro', sans-serif;
    margin-left: 5px;
}

#menuCompte a.compteActive {
    color: #fe8e2b;
}

#menuCompte a:hover {
    /*border-top: 1px solid #fe8e2b;*/
    border-left: 10px solid #fe8e2b;
    text-decoration: none;
}

.decale {
    margin-left: 40px;
}



/*-------------------------- EDIT INFO -----------------------*/

#bdloc_appbundle_editinfo {
    padding-bottom: 50px;
}

#bdloc_appbundle_editinfo div label {
    display: inline-block;
    padding-right: 10px;
    padding-top: 12px;
    vertical-align: top;
    text-align: right;
    width: 180px;
}

#bdloc_appbundle_editinfo input[type="text"],
#bdloc_appbundle_editinfo input[type="email"],
#bdloc_appbundle_editinfo > div > div > div {
    display: inline-block;
    margin: 5px 10px;
    padding: 5px;
    width: 250px;
}

#bdloc_appbundle_editinfo > div > div,
#bdloc_appbundle_editinfo ul {
    display: inline-block;
}

#bdloc_appbundle_editinfo ul {
    color: #f00;
    list-style: none;
}

#bdloc_appbundle_editinfo button[type="submit"] {
    margin: 5px 10px 5px 190px;
    padding: 5px;
}




/*-------------------------- EDIT PASSWORD -----------------------*/

#bdloc_appbundle_editpassword {
    padding-bottom: 50px;
}

#bdloc_appbundle_editpassword div label {
    display: inline-block;
    padding-right: 10px;
    padding-top: 12px;
    vertical-align: top;
    text-align: right;
    width: 180px;
}

#bdloc_appbundle_editpassword input[type="password"],
#bdloc_appbundle_editpassword > div > div > div {
    display: inline-block;
    margin: 5px 10px;
    padding: 5px;
    width: 250px;
}

#bdloc_appbundle_editpassword > div > div,
#bdloc_appbundle_editpassword ul {
    display: inline-block;
}

#bdloc_appbundle_editpassword ul {
    color: #f00;
    list-style: none;
}

#bdloc_appbundle_editpassword button[type="submit"] {
    margin: 5px 10px 5px 190px;
    padding: 5px;
}


/*-------------------------- Credit Card Change -----------------------*/

#bdloc_appbundle_creditcardchange {
    padding-bottom: 50px;
}

#bdloc_appbundle_creditcardchange div label {
    display: inline-block;
    padding-right: 10px;
    padding-top: 12px;
    vertical-align: top;
    text-align: right;
    width: 250px;
}

#bdloc_appbundle_creditcardchange > div:nth-child(1) {
    padding: 10px 0;
}

#bdloc_appbundle_creditcardchange #bdloc_appbundle_creditcardchange_abonnement {
    margin-left: 10px;
}

/*#bdloc_appbundle_creditcardchange > div:nth-child(1) > label {
    padding-top: 0px;
    vertical-align: top;
}*/

#bdloc_appbundle_creditcardchange > div:nth-child(1) > div label {
    display: inline-block;
    padding-right: 0px;
    margin-right: 20px;
    padding-top: 2px;
    width: 50px;
}

#bdloc_appbundle_creditcardchange input[type="text"],
#bdloc_appbundle_creditcardchange > div > div > div {
    display: inline-block;
    margin: 5px 10px;
    padding: 5px;
    width: 250px;
}

#bdloc_appbundle_creditcardchange > div:nth-child(5),
#bdloc_appbundle_creditcardchange > div:nth-child(6) {
    display: inline-block;
}

#bdloc_appbundle_creditcardchange > div:nth-child(6) label {
    display: inline-block;
    padding-right: 5px;
    width: 5px;
}

#bdloc_appbundle_creditcardchange #bdloc_appbundle_creditcardchange_creditCardLastName,
#bdloc_appbundle_creditcardchange #bdloc_appbundle_creditcardchange_creditCardFirstName {
    display: inline-block;
    margin: 5px 10px;
    padding: 5px;
    width: 112px;
}

#bdloc_appbundle_creditcardchange select {
    display: inline-block;
    margin: 5px 10px;
    padding: 5px;
    width: 80px;
}

#bdloc_appbundle_creditcardchange > div > div,
#bdloc_appbundle_creditcardchange ul {
    display: inline-block;
}

#bdloc_appbundle_creditcardchange ul {
    color: #f00;
    list-style: none;
}

#bdloc_appbundle_creditcardchange button[type="submit"] {
    margin: 5px 10px 5px 260px;
    padding: 5px;
}

#bdloc_appbundle_creditcardchange_validUntil_day {
    visibility: hidden;
}










#allPaniers .paniers {
    overflow: hidden;
    margin-left: 20px;
}

#allPaniers .panierContent {
    float: left;
    margin: 10px;
    overflow: hidden;
    height: 180px;
    max-width: 100px;
}

#allPaniers .panierContent .couvertureBDpanier {
    height: 125px;
    max-width: 100px;
    margin: auto;
}

#allPaniers .panierContent .titreBDpanier {
    text-align: center;
}





#amende {
    margin-left: 40px;
    margin-bottom: 50px;
    overflow: hidden;
}

#amende p {
    line-height: 1.3em;
}

.amendes {
    margin-left: 60px;
}

.payer {
    background-color: #272928;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 0px;
    padding: 5px;

}

.payer:hover {
    border: 2px solid #fe8e2b;
    color: #fe8e2b;
}

.paiments {
    background: #272928;
    color: #fff;
    float: left;
    margin: 10px;
    padding: 10px;
}

.typeorange {
    color: #fe8e2b;
}









/*-------------------------- UNSUBSCRIBE -----------------------*/

#bdloc_appbundle_unsubscribe {
    padding-bottom: 50px;
}

#bdloc_appbundle_unsubscribe div label {
    display: inline-block;
    padding-right: 10px;
    padding-top: 15px;
    vertical-align: top;
    text-align: right;
    width: 180px;
}

#bdloc_appbundle_unsubscribe > div:nth-child(2) {
    overflow: hidden;
}

#bdloc_appbundle_unsubscribe > div:nth-child(2) label {
    float: left;
}

#bdloc_appbundle_unsubscribe > div:nth-child(2) img {
    border: 1px solid #000;
    float: left;
    margin-left: 10px;
}

#bdloc_appbundle_unsubscribe input[type="text"] {
    display: inline-block;
    float: left;
    margin: 10px 10px 0;
    padding: 5px;
    width: 250px;
}

#bdloc_appbundle_unsubscribe textarea {
    display: inline-block;
    margin: 5px 10px;
    padding: 5px;
    min-height: 100px;
    width: 390px;
}

/*#bdloc_appbundle_unsubscribe textarea,*/
#bdloc_appbundle_unsubscribe > div > div > div {
    display: inline-block;
    margin: 5px 10px;
    padding: 5px;
    width: 250px;
}

#bdloc_appbundle_unsubscribe > div > div,
#bdloc_appbundle_unsubscribe ul {
    display: inline-block;
    vertical-align: top;
}

#bdloc_appbundle_unsubscribe ul {
    color: #f00;
    list-style: none;
}

#bdloc_appbundle_unsubscribe > div:nth-child(1) ul li {
    margin-top: 15px;
}

#bdloc_appbundle_unsubscribe > div:nth-child(2) ul li {
    margin-top: 20px;
}

#bdloc_appbundle_unsubscribe button[type="submit"] {
    margin: 10px 10px 5px 190px;
    padding: 5px 10px;
}







.check {
    background-color: #272928;
    color: #fff;
    cursor: pointer;
    margin: 20px 40px;
    padding: 5px 10px;
}

.check:hover {
    /*background: #272928;*/
    border: 2px solid #fe8e2b;
    color: #fe8e2b;
}