
#map-canvas {
    border: 2px solid #000;
    height: 300px;
    margin: 20px 0 20px 140px;
    width: 440px;
}

.infoContent {
    height: 100px;
    width: 230px;
}

.infoName {
    font-size: 1.2em;
    font-weight: 700;
}

.infoAdresse {
    color: #3E3636;
    padding: 10px 0;
}

.infoChoix {
    background: #000;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 70px;
}

.infoIt {
    visibility: hidden;
}


